.inline-block {
    display: inline-block;
    vertical-align: top;
}
/*logo section*/
.logo {
    width: 23%;
    padding:1%;
}
/*navigation bar section*/
nav {
    width:76%;
    padding:1%;   
}
/*sets the navigation bar and spaces the text*/
.topNav {
    width: max-content;
    margin-left: auto;
    word-spacing: 30px;
}
/*creates a sandwich for when on mobile*/
.sandwich {
    position: absolute;
    top: 1%;
    right: 4%;
    height: 40px;
    width: 40px;
    visibility: hidden;
}

/*makes the hero+header+footer black*/
.blackBackground {
    background-color: black;
}

/*aligns hero image items*/
.content {
    vertical-align: top;
    display: inline-flex;
}

/*makes the text on the header+hero image+footer white */
.whiteText {
    color: white;
}
/*hero image text*/
.nameTitle {
    width: fit-content;
    margin: 5% 0px 0 25%;
    font-size : 64px;
}

/*modifies the size of the text to picture ratio on the hero*/
.heroSize {
    width: 60%;
}
/*hero image body text*/
.heroText {
    width: 50%;
    margin: 6% 10% 10% 30%;
    text-align: center;
    font-size: 28px;
}

/*removes white border from edges so content goes the full page, not 99%*/
body {
    margin: 0%;
}
/*space for entire hero image, text and picure*/
.heroImg {
    height: 600px;
    padding: 25px;
}
/*makes the skills section into a grid*/
.gridLayout {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: space-evenly;
}
/*lets the skill and tools titles take up the whole space*/
.fullLength {
    grid-column: 1 / span 2;
}

/*font and placement for skills and tools*/
h2 {
text-align: center;
font-size: 48px;
padding: 1%;
margin-top: 20px;
}
/*aligns the title and body under skills*/
.skillsText {
    margin-top: 3%;
    height: fit-content;
}
/*font size for skills subsection titles*/
h4 {
    font-size: 32px;
}
/*text size for skills body*/
.skillsBody {
    font-size: 24px;
}
/*bordering for skill pictures*/
.skillPic {
    border: 1px solid black;
    border-radius: 5px;
}


/*text for Tools section */
.toolsText {
    font-size: 24px;
    width: fit-content;
    height: fit-content;
}

/*sets carousel image size*/
.carousel {
  width:500px;
  height:500px;
  border: 1px solid #979797;
  border-radius: 10px;
  overflow: hidden;
}
/*box for individual experience selections*/
.workBox {
    display: inline-block;
    margin:30px;
  }
/*settings for images in experience section*/
.imgOutline {
    height:333px;
    width: 363px;
    border:2px solid black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
/*size and shape of box for text in experience section*/
.boxInfo {
    padding: 5px 15px 15px 15px;
    text-align: center;
    border: 2px solid black;
    border-top: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 363px;
    height: 225;
    display: flex;
    flex-direction: column;
}
/*titles for experience boxes*/
h3 {
    margin: auto;
    font-size: 32px;
}
/*text for experience boxes*/
.cSText {
    margin: auto;
}
/*aligns experience boxes*/
.centerBoxes {
    display: flex;
    justify-content: space-evenly;
    padding: 1% 1% 0% 1%;
}

/*button inside experience boxes*/
.ebutton {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    height: 40px;
}
/*See more work button*/
.sbutton {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    width:30%;
    margin-bottom: 20px;
    text-align: center;
}
/*aligns "See more Work button at the bottom of page*/
.alignThis {
text-align: center;
}
/*text in the footer*/
.footerText {
    text-align: left;
    width: 250px;
    margin: 16px 0px 16px 16px;
}
/*footer itself*/
footer {
    vertical-align: top;
    width: 100%;
}
/*social media for footer*/
.navFooter {
    margin: 16px 16px 0px 20px;
    word-spacing: 30px;
    display: inline-block;
    padding: 0%;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
}
/*fonts*/
.fontL {
    font-family: 'Lato', sans-serif;
}
.fontP {
    font-family: 'Philosopher', sans-serif;
}
.fontG {
    font-family: 'Gudea', sans-serif;
}

/*Mobile Media Query*/

@media only screen and (max-width: 600px) {
    /*removes nav bar*/
    nav ul{
        display: none;
    }
    /*makes the sandwich menu visible*/
    .sandwich {
        visibility: visible;
    }
    /*hero image space modifier*/
    .heroImg {
        height: fit-content;
    }
    /*hero image title modifier*/
    .nameTitle{
        font-size: 36px;
    }
    /*body text for hero image*/
    .heroText {
        font-size: 18;
        width: fit-content;
        margin: 10px;
    }
     /*hero image modifier*/
    body section div img {
        width: max-content;
    }
    /*modifies text space*/
    .heroSize {
        width: fit-content;
    }
    /*modifies text and hero space to make picture go beneath text*/
    .content {
        flex-direction: column;
        align-items: center;
    }
    /*Sets size for section titles*/
    .fullLength {
        font-size: 32px;
        grid-column: 1 / span 3;
    }
    /*adjusts titles under skills section*/
    h4 {
        font-size: 28px;
        height: 50px;
    }
    /*adjusts body under skills section*/
    .skillsBody {
        font-size: 16px;
    }
    /*adjusts gridlayout for skills and tools sections*/
    .gridLayout {
        width: 100%;
        grid-template-columns: 0px 400px;

    }
    /*all items are the individual sections under skills and tools to make them centered vertically, also makes the images responsive*/
    .item1 {
        grid-column: 2 / span 2;
        width: 70%;
        margin: auto;
    }
    .item2 {
        grid-column: 2 / span 2;
        margin: auto;
        width: 90%;
        height: auto;
    }
    .item3 {
        grid-column: 2 / span 2;
        width: 70%;
        margin: auto;
    }
    .item4 {
        grid-row: 5;
        grid-column: 2 / span 2;
        width: 90%;
        height: auto;
        margin: auto;
    }
    .item5 {
        grid-column: 2 / span 2;
        width: 70%;
        margin: auto;
    }
    .item6 {
        grid-column: 2 / span 2;
        width: 90%;
        height: auto;
        margin: auto;
    }
    .item7 {
        grid-column: 2 / span 2;
        width: 90%;
        height: auto;
        margin: auto;
    }
    .item8 {
        grid-column: 2 / span 2;
        width: 70%;
        margin: auto;
    }
    /*adjusts font size for experience box titles*/
    h3 {
        font-size: 28px;
    }
    /*adjusts width for see more work button*/
    .sbutton {
        width: 40%;
    }
    /*moves the experience boxes into a column*/
    .centerBoxes {
        flex-direction: column;
    }
    /*aligns the experience boxes to the center*/
    .workBox {
        text-align: center;
    }
    /*aligns the lower half of the experience boxes to the center*/
    .boxInfo {
        margin: auto;
    }
    /*adjusts font text for mobile*/
    .footerText {
        font-size: 14px;
    }
}